$myColor: #007bff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.body {
  transition: 0.3s ease-in;
  overflow-x: hidden;
}

body.night {
  background: #171c28;
  color: white;
}

#particles-js {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.dark-mode-container {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  i {
    margin-left: 15px;
  }

  .switch-container {
    width: 43px;
    height: 25px;
    background: grey;
    border-radius: 15px;
    display: flex;
    align-items: center;
    margin-left: 15px;
    transition: all 0.5s ease-in;

    .switch-btn {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: white;
      margin-left: 3px;
      cursor: pointer;
      transition: all 0.3s ease-in;
    }
  }

  .switch-container.active {
    background: #bae67e;
  }
  .switch-container.active > .switch-btn {
    margin-left: 20px;
  }
}

.header {
  min-height: 90vh;
  overflow-x: hidden;

  .greading {
    width: 100%;
    display: flex;
    margin-top: 100px;
    align-items: center;
    h1 {
      font-size: 1.8rem;
      margin-right: 15px;
    }
    img {
      width: 30px;
      height: 30px;
      cursor: pointer;
      transform: rotateY(-30px);
    }
    img:hover {
      animation: wave 1s ease-in;
    }
  }
  .intro-text {
    width: 100%;
    margin-top: 100px;
    h2 {
      letter-spacing: 1px;
      font-size: 1.5rem;
      line-height: 2.3rem;
      max-width: 700px;
      @media (max-width: 576px) {
        font-size: 1.3rem;
      }
      span {
        font-weight: 600;
      }
    }
  }
  .email {
    width: 100%;
    display: flex;
    margin-top: 100px;
    h3 {
      font-size: 0.9rem;
      font-weight: 400;
      margin-right: 15px;
    }
    a {
      text-decoration: none;
      font-size: 0.8rem;
      font-weight: 400;

      h3 {
        border-bottom: 4px solid $myColor;
        color: $myColor;
      }
    }
  }
}

.skills-container {
  overflow-x: hidden;
  h1 {
    font-weight: 500;
    font-size: 1rem;
    text-transform: uppercase;
    color: $myColor;
    margin-bottom: 50px;
    letter-spacing: 2px;
  }

  .skills {
    margin-bottom: 15px;

    h2 {
      font-weight: 500;
      font-size: 1rem;
      text-transform: uppercase;
      margin-bottom: 10px;
    }

    ul {
      line-height: 1.5rem;
      list-style: none;
      li {
        font-size: 0.9rem;
        @media (max-width: 576px) {
          font-size: 0.8rem;
        }
      }
    }
  }
}

.experience {
  overflow-x: hidden;
  h1 {
    font-weight: 500;
    font-size: 1rem;
    text-transform: uppercase;
    color: $myColor;
    margin-bottom: 50px;
    letter-spacing: 2px;
  }

  .exp-text {
    margin-bottom: 50px;
    line-height: 1.4rem;
    h2 {
      font-weight: 500;
      font-size: 1rem;
    }
    p {
      font-size: 0.7rem;
    }
    h3 {
      font-size: 0.9rem;
    }
  }

  .resume {
    display: flex;
    align-items: center;

    h3 {
      margin-right: 15px;
      font-weight: 500;
      @media (max-width: 576px) {
        font-size: 1.3rem;
      }
    }
    i {
      color: $myColor;
      cursor: pointer;
      transition: 0.2s ease-in;
      font-size: 18px;
    }

    i:hover {
      transform: translateX(5px);
    }
  }
}

.projects-container {
  width: 100%;
  overflow-x: hidden;

  h1 {
    font-weight: 500;
    font-size: 1rem;
    text-transform: uppercase;
    color: $myColor;
    margin-bottom: 50px;
    letter-spacing: 2px;
  }

  .project {
    margin-bottom: 100px;

    .project-img {
      max-width: 700px;
      margin-bottom: 30px;

      img {
        width: 100%;
      }
    }

    .project-links {
      max-width: 700px;
      margin-bottom: 30px;
      display: flex;
      justify-content: center;

      .view-links {
        border: 1px solid $myColor;
        margin-left: 15px;
        border-radius: 3px;
        padding: 5px;

        a {
          text-decoration: none;
          color: $myColor;

          h3 {
            font-size: 10px;
            font-weight: 500;
            margin: 0;
          }
        }
      }
    }

    .project-text {
      max-width: 700px;
      padding-bottom: 20px;
      border-bottom: 1px solid $myColor;

      h2 {
        font-weight: 500;
        font-size: 1rem;
        margin-bottom: 20px;
      }

      p {
        font-size: 0.8rem;
        margin-bottom: 20px;
      }

      .project-info {
        display: flex;
        width: 100%;

        .view-info {
          border: 1px solid $myColor;
          margin-left: 15px;
          border-radius: 2px;
          padding: 5px;
          h3 {
            font-size: 10px;
            font-weight: 500;
            color: $myColor;
            margin: 0;
          }
        }
      }
    }
  }
}

.footer {
  max-width: 500px;
  height: 20vh;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  a {
    text-decoration: none;
  }

  i {
    font-size: 25px;
    color: $myColor;
    cursor: pointer;
  }
}

.top {
  width: 30px;
  height: 30px;
  position: fixed;
  right: 5%;
  bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $myColor;
  border-radius: 50%;

  i {
    font-size: 20px;
    cursor: pointer;
  }
}

@keyframes wave {
  from {
    -webkit-transform: none;
    transform: none;
  }
  15% {
    -webkit-transform: translate3d(-20%, 0, 0) rotate3d(0, 0, 1, -10deg);
    transform: translate3d(-20%, 0, 0) rotate3d(0, 0, 1, -10deg);
  }
  30% {
    -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 7deg);
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 7deg);
  }
  45% {
    -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -10deg);
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -10deg);
  }
  60% {
    -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 5deg);
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 5deg);
  }
  75% {
    -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -2deg);
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -2deg);
  }
  to {
    -webkit-transform: none;
    transform: none;
  }
}
